.container {
  display: flex;
  justify-content: flex-start;
}
.header > div:first-child {
  background-color: beige;
  display: flex;
  justify-content:center

}
.menw {
  background-color: green;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#content {
  background-color: aqua;
  display: flex;
  justify-content: center;
}
