.outer li { color: olivedrab; } /* 하위 선택자 (descendant selector) */
.outer > li { color: dodgerblue; } /* 자식 선택자 (child selector) */
.outer > li li { text-decoration: underline; }

.starter ~ li { font-style: italic; }

ol :first-child
, ol :last-child { color: yellowgreen; }
/* not 가상 선택자 */
.outer > :not(:last-child) { background-color: antiquewhite; }

ul:not(.outer) li {
    font-weight: bold;
}

ol :nth-child(3) { font-weight: bold; color:deeppink; }

ol :nth-child(even) { background-color: beige; }
/* ol :nth-child(2n) { background-color: beige; }  */
/* ol :nth-child(2n+2) { background-color: beige; }  */
ol :nth-child(odd) { background-color:cadetblue; }