section { padding: 50px; }
ul { position: relative; }
.soldout { display: inline-block; }
.soldout::before {
    position: absolute;
    content: 'soldout';
    left: -32px;
    background-color: rgb(242, 84, 84);
    font-weight: bold;
    padding: 3px;
    color: #fff;

}