body { padding: 16px 32px; }
section.plant { background-color: lightgreen; }
section { 
    margin: 12px 0;
    padding: 50px; 
    background-color: bisque;
    border-radius: 12px;
}
ul { position: relative; }
.soldout::before {
    position: absolute;
    content: 'Sold Out';
    left: -12px;
    background-color: rgb(242, 84, 84);
    font-weight: bold;
    font-size: .5em;
    padding: 3px;
    color: #fff;
}

.hidden { display: none; }
.organic::after { content: ' (유기농)'; }